button {
  border: 1px solid;
  color: #466995;
  border-radius: 10px;
  box-shadow: 0px 4px 5px #000;
  color: #ffffff;
  margin-top: 24px;
  margin-bottom: 16px;
  box-shadow: 0px 0px;
  background-color: #C0D6DF;
}

button:hover {
  cursor: pointer;
}

button:active {
  color: #ffffff;
  margin-top: 24px;
  margin-bottom: 16px;
  box-shadow: 0px 0px;
  background-color: #C0D6DF;

p {
  color: black;
}
