:root {
    --clr: #b883f9;
    --clr2: #03DAC6;
    --bg: #ffffff;
}

body {
    background-color: #ffffff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    cursor: pointer;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 3rem;
    padding: 0.5em 1em;
    

    background-color: var(--bg);
    color: var(--clr);
    border: 2px solid var(--clr);
    outline: 2px solid;
    outline-offset: 1rem;
    outline-color: transparent;
    transition: all 0.5s linear;
}

button:hover {
    color: var(--clr2);
    border-color: transparent;
    outline-offset: 0;
    outline-color: var(--clr2);
}
