:root {
    --clr: #BB86FC;
    --clr2: #03DAC6;
    --bg: #121212;
}

body {
    background-color: var(--bg);
    font-family: Georgia, 'Times New Roman', Times, serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    cursor: pointer;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 3rem;
    padding: 0.5em 1em;
}
